video {
  object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
  
  }

  #logo {
    width: auto;
    padding-left: 8px;
    color: #fff;
    text-decoration-color: #fff;
    text-decoration: none;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .hero-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    object-fit: contain;
   
   
  }
  
  .hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: 75px;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .hero-btns {
    margin-top: 32px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }
  
  .fa-person-digging {
    margin-left: 4px;
  }
  .fa-file {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container {
      width: 100vw;
    }
    video {
      width: 100vw;
    }
    .hero-container > h1 {
      color: #fff;
      font-size: 50px;
      margin-top: -100px;
    }
    #logo {
      width: auto;
      padding-left: 8px;
      color: #fff;
      text-decoration-color: #fff;
      text-decoration: none;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  