video {
  object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
  
  }

  #text {
    margin-bottom: 40px;
    stroke-dasharray: 250;
    animation: 3s fillSvg linear;
    
  }


  @keyframes fillSvg {
    0% {
      stroke-dashoffset: 250;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  .fa-react, .fa-js, .fa-node, .fa-html5, .fa-css3, .fa-python, .fa-raspberry-pi, .fa-free-code-camp, .fa-github {
    color: white;
    font-size: 3rem;
    margin: 0 .5rem;
    transition: all 0.2s ease-in-out;
  }

  .fa-react:hover {
    color: #61DBFB;
  }
  .fa-js:hover {
    color: #F0DB4F;
  }
  .fa-node:hover {
    color: #3C873A;
  }
  .fa-html5:hover {
    color: #E34F26;
  }
  .fa-css3:hover {
    color: #1572B6;
  }
  .fa-python:hover {
    color: #3776AB;
  }
  .fa-raspberry-pi:hover {
    color: #C51A4A;
  }
  .fa-free-code-camp:hover {
    color: gray;
  }
  .fa-github:hover {
    color: black;
  }


  #logo {
    width: auto;
    padding-left: 8px;
    text-decoration-color: #fff;
    text-decoration: none;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  
  .hero-container {
    /* background: url('/images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100vw;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    object-fit: contain;
   
   
  }
  
  .hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: 75px;
  }
  
  .hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  .hero-btns {
    margin-top: 32px;
  }
  
  .hero-btns .btn {
    margin: 6px;
  }
  
  .fa-person-digging {
    margin-left: 4px;
  }
  .fa-file {
    margin-left: 4px;
  }
  
  @media screen and (max-width: 960px) {
    .hero-container {
      width: 100vw;
      background: url('/images/ss_bac_vid.png') center center/cover no-repeat; 
    }
    video {
      width: 100vw;
    }
    #text {
      width: 90vw;
      height: 15vh;
    }
    .hero-container > h1 {
      color: #fff;
      font-size: 50px;
      margin-top: -100px;
    }
    #logo {
      width: auto;
      padding-left: 8px;
      color: #fff;
      text-decoration-color: #fff;
      text-decoration: none;
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    

    .fa-react, .fa-js, .fa-node, .fa-html5, .fa-css3, .fa-python, .fa-raspberry-pi, .fa-free-code-camp, .fa-github {
      margin-top: 0px;
      color: #fff;
      font-size: 32px;
    margin: 0rem;
    
      }
      .fa-react:hover {
    color: #61DBFB;
  }
  .fa-js:hover {
    color: #F0DB4F;
  }
  .fa-node:hover {
    color: #3C873A;
  }
  .fa-html5:hover {
    color: #E34F26;
  }
  .fa-css3:hover {
    color: #1572B6;
  }
  .fa-python:hover {
    color: #3776AB;
  }
  .fa-raspberry-pi:hover {
    color: #C51A4A;
  }
  .fa-free-code-camp:hover {
    color: gray;
  }
  .fa-github:hover {
    color: black;
  }
    
  }

  