a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: 0.3s;
    width: 100%;
}

.indilink {
  line-height: 2.5rem;
}

.links {
   min-height: 100px;
    vertical-align: middle;
    text-align: center;
    
}

h1 {
    font-size: 2rem;
    margin: 1rem 0;
}

.links a:hover {
    color: #fff;
    background-color: #000;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
